BODY {background-color:#ffffff;
      /*E7E7E9*/
     /* font-family: "Arial CE", "Helvetica CE", Arial, helvetica, sans-serif;*/
      font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
      margin: 0px;
      padding: 0px;
      }


/*
.linka a:link, a:visited
{
    margin: 0px;
    padding: 0px;
    color: #00A4E3;
}

.linka a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

.linka a:active
{
    color: #034af3;
}
*/
/* mainCont  
----------------------------------------------------------*/
td.mainCont {
    color: #666666;
    font-size: 13px;
    font-weight: 600;
}

td.mainCont h1, h2, h3, h4, h5{
    color: #ffffff;
    font-weight: 700;
    margin: 0px;
    padding: 4px;
    padding-top: 0px;
    padding-left: 0px;
}

/*
td.submenu a, a:link, a:visited{
    color: #00A4E3;
    text-decoration: none;
}

td.submenu a:hover
{
    color: #5AD3FF;
    text-decoration: none;
}*/

/* SubMenu2
---------------------------------------------------------*/
/*.polozkySubmenu a, .polozkySubmenu a:link, .polozkySubmenu a:visited {
    color: #00A4E3;
    text-decoration: underline;
}

.polozkySubmenu a:hover, .polozkySubmenu a:active
{
    color: #000000;
    text-decoration: none;
}*/

/* Submenu  
----------------------------------------------------------*/
td.submenu {
    color: #000000;
    font-size: 12px;
    font-weight: 500;
}

td.submenu h1, h2, h3, h4, h5{
    color: #00A4E3;
    font-weight: 700;
    margin: 0px;
    padding: 4px;
    padding-top: 0px;
    padding-left: 0px;
}

td.submenu h1 {
    font-size: 19px;
}
td.submenu h2 {
    font-size: 17px;
}
td.submenu h3 {
    font-size: 15px;
}
td.submenu h4 {
    font-size: 13px;
}
td.submenu h5 {
    font-size: 12px;
}




/* Paticka  
----------------------------------------------------------*/
div.paticka {
    color: #9A9A9A;
    font-size: 12px;
    font-weight: 600;
}

.paticka a, .paticka a:link, .paticka a:visited
{
    color: #9A9A9A;
    text-decoration: none;
}

.paticka a:hover
{
    color: #3F3F3F;
    text-decoration: none;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
    top: 0px;
    left: 0px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
      
td.bgTopMenu{
  background-image:url("bgTopMenu.png");
}

td.bgTopMenuRight{
  /*background-color:#D9E4F4;  */
  background-image:url("bgTopMenuRight.png");
  height:89px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

td.bgLangLeft{
  background-image:url("bgLangLeft.gif");
  height:51px;
}  

td.bgLangOff {
  background-image:url("bgLangOff.gif");
  background-position: left top;
  background-repeat: no-repeat;
  height:30px;
}  

td.bgLangOn {
  background-image:url("bgLangOn.gif");
  background-position: left top;
  background-repeat: no-repeat;
  height:30px;
}  

td.bgLangMidd  {
  background-image:url("bgLangMidd.gif");
  height:51px;
}  

td.bgTopLeft  {
  background-image:url("bgTopLeft.png");
}
td.bgTopRight  {
  background-image:url("bgTopRight.png");
}    

td.bgFlashLeft  {
  background-image:url("bgFlashLeft.png");
}
td.bgFlashRight  {
  background-image:url("bgFlashRight.png");
}    

td.bgFlashBottom  {
  height:11px;
  background-image:url("bgFlashBottom.png");
}    

/* CONTETNT BORDER 
----------------------------------------------------------*/

td.borderLeftTop {
  height:20px;
  background-image:url("borderLeftTop.png");
}   

td.borderRightTop {
  height:20px;
  background-image:url("borderRightTop.png");
}  

td.borderTop {
  height:20px;
  background-image:url("borderTop.png");
}  

td.borderLeftBottom {
  height:20px;
  background-image:url("borderLeftBottom.png");
}   

td.borderRightBottom  {
  height:20px;
  background-image:url("borderRightBottom.png");
}  

td.borderBottom {
  height:20px;
  background-image:url("borderBottom.png");
} 

td.borderMiddle {
  height:20px;
  background-image:url("borderMiddle.png");
}

td.borderMiddleLeft {
  height:20px;
  background-image:url("borderMiddleLeft.png");
}

td.borderMiddleRight {
  height:20px;
  background-image:url("borderMiddleRight.png");
}

td.borderLeft {
  background-image:url("borderLeft.png");
}   

td.borderRight {
  background-image:url("borderRight.png");
}  

td.borderCenter {
  background-color:#ffffff;
    text-align: left;
}  

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}