BODY {background-color:#ffffff;
      /*E7E7E9*/
     /* font-family: "Arial CE", "Helvetica CE", Arial, helvetica, sans-serif;*/
      font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
      margin: 0px;
      padding: 0px;
      color:#7A7A7A;
      font-size: 14px;
      }

a, a:link, a:visited
{
    color: #1F95C2;
    text-decoration: none;
}

a:hover
{
    color: #EC2479;
    text-decoration: none;
}

a:active
{
    color: #EC2479;
}

h1, h2, h3, h4, h5, h6, h7
{
	color: #00A4E3;
}

a img {
    border: 0 none;
}

img {
    border: 0 none;
}

p 
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom:14px;
	margin-top:14px;
}

ul 
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom:0px;
	margin-top:0px;
}

/*----------------------------------------------------------*/

