﻿<%@ Page Title="" Language="C#" MasterPageFile="~/lsn.master" AutoEventWireup="true" CodeFile="appimage.aspx.cs" Inherits="appimage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
    <script language="javascript" type="text/javascript">
// <![CDATA[

        function Submit1_onclick() {
          

        }

// ]]>
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <asp:FileUpload ID="FileUpload1" runat="server" />
    &nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    <br />
    <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Button" />
    <br />
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:labsensnanoConnectionString %>" 
    SelectCommand="Add_picture" SelectCommandType="StoredProcedure">
        <SelectParameters>
            <asp:Parameter Name="Picture" Type="Object" />
        </SelectParameters>
</asp:SqlDataSource>
<br />
<asp:Image ID="Image1" runat="server" />
    <br />

&nbsp;
</asp:Content>

