﻿<%@ Page Title="LabSensNano" Language="C#" MasterPageFile="~/LabsAndFacilities.master" AutoEventWireup="true" CodeFile="LabsAndFacilities.aspx.cs" Inherits="introTest" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Content" Runat="Server">
    <asp:Label ID="Contents" runat="server" Text="Contents"></asp:Label>
</asp:Content>

