﻿<%@ Page Title="" Language="C#" MasterPageFile="~/lsn.master" AutoEventWireup="true" CodeFile="PouzitiImage.aspx.cs" Inherits="PouzitiImage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <asp:Image ID="Image1" runat="server" ImageUrl="appimage.aspx" />
</asp:Content>

