﻿<%@ Page Title="LabSensNano" Language="C#" MasterPageFile="~/Research.master" AutoEventWireup="true" CodeFile="Projects.aspx.cs" Inherits="introTest" %>
<%@ MasterType virtualPath="~/Research.master"%> 


<asp:Content ID="Content1" ContentPlaceHolderID="Content" Runat="Server">

                    <h2>

                    <asp:Label ID="ProjectTitle" runat="server" Text="Label"></asp:Label>

                        <asp:SqlDataSource ID="SqlDataSource3" runat="server" 
                            ConnectionString="<%$ ConnectionStrings:labsensnanoConnectionString %>" 
                            SelectCommand="SELECT [titleCs], [textCs], [id], [nick], [start], [finish] FROM [projects] WHERE ([id] = @id)">
                            <SelectParameters>
                                <asp:QueryStringParameter DefaultValue="0" Name="id" QueryStringField="id" 
                                    Type="Int32" />
                            </SelectParameters>
                        </asp:SqlDataSource>

                    </h2>

                    <asp:Label ID="Label5" runat="server" Text="<%$ Resources:labels, nick %>" 
                        style="font-weight: 700"></asp:Label>

                    <asp:Label ID="nick" runat="server" Text="Label"></asp:Label>
<br />

                    <asp:Label ID="Label3" runat="server" Text="<%$ Resources:labels, start %>" style="font-weight: 700"></asp:Label>

                    <asp:Label ID="start" runat="server" Text="Label"></asp:Label>
<br />

                    <asp:Label ID="Label4" runat="server" Text="<%$ Resources:labels, end %>" style="font-weight: 700"></asp:Label>

                    <asp:Label ID="end" runat="server" Text="Label"></asp:Label>
<br />
<asp:Label ID="content" runat="server" Text="Label"></asp:Label>
<br />

</asp:Content>

