﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TextBox1.aspx.cs" Inherits="TextBox1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%@ Register Assembly="CKEditor.NET" Namespace="CKEditor.NET" TagPrefix="CKEditor" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- TinyMCE -->
<script type="text/javascript" src="Scripts/tinymce/tiny_mce.js"></script>
<script type="text/javascript">

   function myFileBrowser (field_name, url, type, win) {
      // alert("Field_Name: " + field_name + "nURL: " + url + "nType: " + type + "nWin: " + win);
      // debug/testing    
      /* If you work with sessions in PHP and your client doesn't accept cookies you might need to carry  
         the session name and session ID in the request string (can look like this: "?PHPSESSID=88p0n70s9dsknra96qhuk6etm5"). 
         These lines of code extract the necessary parameters and add them back to the filebrowser URL again. */

     var cmsURL = 'fileList.aspx?cat=intro'; 
     // var cmsURL = window.location.toString();    // script URL - use an absolute path!    
     if (cmsURL.indexOf("?") < 0) {        
        //add the type as the only query parameter    
         cmsURL = cmsURL + "?type=" + type;
     } else {
        //add the type as an additional query parameter     
        // (PHP session ID is now included if there is one at all)       
         cmsURL = cmsURL + "&type=" + type;    
     }  
     tinyMCE.activeEditor.windowManager.open({
         file: cmsURL,
         title: "File Browser",
         width: 900,  // Your dimensions may differ - toy around with them!
         height: 400,
         resizable: "yes",
         inline : "yes",  // This parameter only has an effect if you use the inlinepopups plugin!  
         close_previous: "yes"
     },
     { window: win,
         input: field_name
     });
     return false;  
   }

    tinyMCE.init({
        // General options
        mode: "exact",
        elements: "elm1",
        theme: "advanced",
        plugins: "imagemanager,autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

       // external_image_list_url : "image.php5?x=",
      //  init_instance_callback : "init",

        // Theme options
        theme_advanced_buttons1: "newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,pagebreak,restoredraft",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,


        // Example content CSS (should be your site CSS)
        content_css: "layout/layout.css",

    //extjsfilemanager_handlerurl: 'BrowserHandler.ashx',
    //Optional - Any extra parameters you want to have passed to your server-side handler on each request from the FileManager.
    //extjsfilemanager_extraparams: { param1: 'value1', param2: 'value2' }

        // Style formats
     /*   style_formats: [
			{ title: 'Bold text', inline: 'b' },
			{ title: 'Red text', inline: 'span', styles: { color: '#ff0000'} },
			{ title: 'Red header', block: 'h1', styles: { color: '#ff0000'} },
			{ title: 'Example 1', inline: 'span', classes: 'example1' },
			{ title: 'Example 2', inline: 'span', classes: 'example2' },
			{ title: 'Table styles' },
			{ title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
		],*/
        file_browser_callback : "myFileBrowser"
    });


</script>


<!-- /TinyMCE -->

</head>
<body >
    <form id="form1" runat="server">
    <div>
        
     <!--   <textarea id="elm1" name="elm1" cols="20" rows="2">test</textarea>-->
        <br />
        <br />
        <asp:TextBox ID="elm1" rows="2" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Button" />
    </div>
    </form>


</body>
</html>
