﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Admin.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
      <!-- Use Internet Explorer 8 Standards mode -->
  <meta http-equiv="x-ua-compatible" content="IE=8">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1 class="titleAdmin">
                    Redakční Systém LabSensNano
                </h1>
            </div>
            <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false" 
                    onviewchanged="HeadLoginView_ViewChanged">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Log In</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="editPage.aspx?page=home&amp;lang=cs" 
                            Text="LabSensNano">
                            <asp:MenuItem Text="Úvodní stránka - CS" Value="New Item" 
                                NavigateUrl="editPage.aspx?page=home&amp;lang=cs"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editPage.aspx?page=home&amp;lang=en" 
                                Text="Úvodní stránka - EN" Value="Úvodní stránka - EN"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editPage.aspx?page=about&amp;lang=cs" 
                                Text="O LabSensNano - CS" Value="O LabSensNano"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editPage.aspx?page=about&amp;lang=en" 
                                Text="O LabSensNano - EN" Value="O LabSensNano - EN"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editPage.aspx?page=res&amp;lang=cs" 
                                Text="Výzkum - CS" Value="Výzkum - CS"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editPage.aspx?page=res&amp;lang=en" 
                                Text="Výzkum - EN" Value="Výzkum - EN"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editPage.aspx?page=laf&amp;lang=cs" 
                                Text="Laboratoře a vybavení - CS" Value="Laboratoře a vybavení - CS">
                            </asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editPage.aspx?page=laf&amp;lang=en" 
                                Text="Laboratoře a vybavení - EN" Value="Laboratoře a vybavení - EN">
                            </asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem NavigateUrl="editProjects.aspx" Text="VaV">
                            <asp:MenuItem NavigateUrl="editTeams.aspx" Text="Oblasti výzkumu" 
                                Value="Oblasti výzkumu"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editProjects.aspx" Text="Projekty" Value="Projekty">
                            </asp:MenuItem>
                            <asp:MenuItem Text="Produkty" Value="Produkty" NavigateUrl="editProducts.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Publikace" Value="Publikace"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem Text="Lidé" Value="Lidé" NavigateUrl="editPersons.aspx">
                            <asp:MenuItem NavigateUrl="editGallery.aspx" Text="Fotogalerie skupiny" 
                                Value="Fotogalerie skupiny"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem NavigateUrl="editWorkPlace.aspx" Text="Vybavení" Value="Vybavení">
                            <asp:MenuItem NavigateUrl="editWorkPlace.aspx" Text="Pracoviště" 
                                Value="Pracoviště"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="editFacilities.aspx" Text="Vybavení" 
                                Value="Vybavení"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem Text="Novinky" Value="Novinky" NavigateUrl="editNews.aspx"></asp:MenuItem>
                    </Items>
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    </form>
</body>
</html>
