/* button for displaying calender */
button.datedit {
  background: url('button.png') no-repeat #E2E2E2 center center;
  width: 22px;
  height: 22px;
  _cursor: hand; /* for IE6 */
  cursor: pointer;
  vertical-align: top;
  margin: 0;
}

/* hide button text */
button.datedit span {
  display: none;
}

/* main calendar DIV */
div.datedit {
  position: absolute;
  left: -10px;
  background-color: #E0E0E0;
  border: 1px solid #808080;
  padding: 2px;
  text-align: center;
  font-size: 12px;
  width: 16em;
}

/* dont underline links in calendar */
div.datedit a {
  text-decoration: none;
}

/* calendar header */
div.datedit div.top {
  font-weight: bolder;
  font-size: 12px;
}

/* month & year link */
div.datedit div.top a {
  color: #000000;
}

/* month & year link hover effect */
div.datedit div.top a:hover {
  text-decoration: underline;
}

/* previous / next month buttons */
div.datedit div.top a.navig {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 4px;
}

/* previous month button */
div.datedit div.top a.prev {
  left: 4px;
  background: url('prev_mon.png') no-repeat;
}

/* next month button */
div.datedit div.top a.next {
  right: 4px;
  background: url('next_mon.png') no-repeat;
}

/* hide text in previous / next month buttons */
div.datedit div.top a.navig span {
  display: none;
}

/* month / year drop-down lists style */
ul.dateditSelector {
  position: absolute;
  z-index: 1;
  margin: 0;
  border: 1px solid #808080;
  background-color: #FFFFFF;
  line-height: 1.15;
  text-align: left;
  padding: 0 0 2px 0;
  list-style-type: none;
}

ul.dateditSelector li {
  padding: 0;
  margin: 0;
}

/* selected item highlight */
ul.dateditSelector li.sel a {
  background-color: #E0E0E0;
}

/* drop-down list header */
ul.dateditSelector li.head {
  text-align: center;
  border-bottom: 1px solid #808080;
  font-weight: bolder;
  background-color: #808080;
  margin-bottom: 2px;
  color: #FFFFFF;
}

/* drop-down list item */
ul.dateditSelector a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 0 4px;
}

/* drop-down list item hover effect */
ul.dateditSelector a:hover,
ul.dateditSelector li.sel a:hover {
  background-color: #BEBEBE;
}

/* drop-down list item additional info */
ul.dateditSelector li a span {
  color: #808080;
  margin-left: 1em;
}

/* inner area of calendar */
div.datedit div.inner {
  background-color: #FAFAFA;
  border: 1px solid #808080;
}

/* table cell padding */
.datedit td {
  
  padding: 0;
}

/* calendar content */
div.datedit div.inner table {
  padding: 0;
  margin: 0;
  line-height: 1;
  border-spacing: 2px;
  width: 100%;
  background: url('header.png') repeat-x left 3.4ex;
}

/* cells size */
div.datedit div.inner table td,
div.datedit div.inner table th {
  width: 14.2857142857143%; /* = 100/7% */
  border-spacing: 0;
  text-align: right;
  overflow: hidden;
}

/* day item */
div.datedit div.inner table td a {
  display: block;
  color: #000000;
  padding: 2px;
  border: 1px solid #EAEAEA;
}

/* day item hover effect */
div.datedit div.inner table td a:hover,
div.datedit div.inner table td.weekend a:hover {
  border: 1px solid #FF4040;
  background-color: #FFC7C7;
}

/* inactive day item (day of another month) */
div.datedit div.inner table td.inact {
  background-color: transparent;
  color: #A0A0A0;
  padding: 2px;
}

/* today day item */
div.datedit div.inner table td.today a {
  background-color: #C8C8FF
}

/* weekend day item */
div.datedit div.inner table td.weekend a {
}

/* selected day item */
div.datedit div.inner table td.sel a {
  border: 1px solid #FF4040;
}

/* day item background */
div.datedit div.inner table td {
  background-color: #EAEAEA;
}

/* day names */
div.datedit div.inner table th {
  font-weight: bolder;
  text-align: center;
  line-height: 1.4;
  padding-bottom: 1ex;
}

/* time edit area */
div.datedit div.time {
  margin: 4px 0 2px 0;
  text-align: right;
}

/* time edit inputs */
div.datedit div.time input {
  width: 1.5em;
  font-size: 11px;
  background-color: #FAFAFA;
  border: 1px solid #808080;
  padding: 1px;
  height: 2.1ex;
}

/* up / down buttons area */
div.datedit div.time div {
  display: inline;
  position: relative;
  padding-right: 16px;
  vertical-align: bottom;
}

div.datedit div.time span {
  display: none;
}

/* up / down buttons */
div.datedit div.time button {
  position: absolute;
  width: 16px;
  height: 50%;
  _height: 9px; /* for IE6 */
  padding: 0;
}

/* up / down buttons opera */
div.datedit div.time a {
  padding: 0 4px;
  cursor: hand;
}

/* up button */
div.datedit div.time .btn1 {
  top: 0;
  background: url('up.png') no-repeat center center;
}

/* down button */
div.datedit div.time .btn2 {
  bottom: 0;
  _top: 9px; /* for IE6 */
  background: url('down.png') no-repeat center center;
}
